body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 800px;
  margin: 0 auto;
}

.header__title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255, 184, 0, 0.77);
}

.add {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.add-header {
  width: 100%;
}

.add,
.list__item {
  display: flex;
}

.header {
  margin-bottom: 30px;
}

.add__text,
.view-text {
  flex-grow: 1;
  padding: 10px;
  font-size: 20px;
}

.checkbox {
  margin-top: 20px;
  transform: scale(2);
  margin-right:30px;
  margin-left: 20px;
}

.add__btn {
  margin-left: 70px;
  margin-right: 20px;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  background-color: transparent;
}

.btn_delete {
  margin-left: 50px;
  margin-right: 30px;
}

.btn_change {
  margin-right: 30px;
}

.view-text {
  border: none;  
  background-color: transparent;
}

.list__item:not(:last-child) {
  margin-bottom: 30px;
}

.focus {
  border: 1px solid yellow;
}


