body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 600px;
  margin: 0 auto;
}

.header__title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255, 184, 0, 0.77);
}

.add {
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(247, 214, 3);
  padding-bottom: 30px;
}

.add-header {
  width: 100%;
}

.add,
.list__item {
  display: flex;
}

.header {
  margin-bottom: 30px;
}

.add__text {
  border: 2px solid rgba(255, 161, 0, 0.46)
}

.add__text,
.view-text {
  flex-grow: 1;
  padding: 10px;
  font-size: 20px;
}

.view-text:focus,
.add__text:focus {
  outline: 2px solid rgba(255, 184, 0, 0.6);
}

.checkbox {
  margin-top: 20px;
  transform: scale(2);
  margin-right:30px;
  margin-left: 20px;
  cursor: pointer;
}

.add__btn,
.btn {
  font-size: 18px;
  background-color: rgba(255, 184, 0, 0.6);
  border: none;
  cursor: pointer;
  border-radius: 5px
}

.btn:hover {
  background-color: #FAAC2E;
}

.add__btn {
  margin-left: 70px;
  margin-right: 20px;
}

.btn_change {
  margin-left: 30px;
  /* opacity: 0; */
  /* transition: .3s; */
}

.btn_delete {
  margin-left: 20px;
  margin-right: 20px;
  /* opacity: 0; */
  /* transition: .3s; */
}
/* 
.btn_delete:hover, 
.btn_change:hover {
  opacity: 1;
} */

.view-text {
  border: none;  
  background-color: transparent;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}

.focus {
  border: 1px solid yellow;
}

.ischeck {
  text-decoration: line-through;
  color: rgba(84, 84, 84, 0.43);
}


